---
import "./program-info.css";

const {
  dark = false,
  program = "peques",

  // Details
  age = "",
  schedule = "",
  price = "",

  // Features
  aprenderas = [],
  ofrecemos = [],

  // Image
  image = "",
} = Astro.props;
---

<section class={`section ${dark ? "dark" : "light"}`}>
  <div class={`program-info ${program}`}>
    
    <!-- DETAILS -->
    <div class={`program-info__details ${program}`}>
      <h3>Detalles del programa</h3>

      <p>EDAD</p>
      <span>{age}</span>

      <p>HORARIOS</p>
      <span set:html={schedule}></span>
      
      <p>PRECIO</p>
      <span>{price}</span>
    </div>

    <!-- APRENDERÁS -->
    <div class="program-info__features">
      <h3>aprenderás</h3>
      <ul>
        {aprenderas.map(item => <li>{item}</li>)}
      </ul>
    </div>

    <!-- IMAGE -->
    <div class="program-info__image image">
      <img src={image} alt={program} class="cover" />
    </div>

    <!-- OFRECEMOS -->
    <div class="program-info__features">
      <h3>ofrecemos</h3>
      <ul>
        {ofrecemos.map(item => <li>{item}</li>)}
      </ul>
    </div>

  </div>
</section>